<html> 
<head> 
	<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
	<title>plane arium</title> 
	<style> body { margin: 0; } canvas { width: 100%; height: 100% } </style>
</head> 
<body>
<canvas id="c"></canvas>
  <script src="https://threejsfundamentals.org/threejs/resources/threejs/r105/three.min.js"></script>
<script src="https://threejsfundamentals.org/threejs/resources/threejs/r105/js/controls/OrbitControls.js"></script>
<script src="https://threejsfundamentals.org/threejs/../3rdparty/dat.gui.min.js"></script>	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
<script src="/app.js"> </script> 
</body> 
</html>